*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 800px;
    align-items: center;
}
img {
    width: 300px;
    height: 300px;
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: sans-serif;
}